<div th:fragment="the_sidebar">
	<ul class="menu">
	    <li class="sidebar-title">Menu</li>
	    <li class="sidebar-item active">
	        <a href="admin" class='sidebar-link'>
	            <i class="bi bi-grid-fill"></i>
	            <span>Dashboard</span>
	        </a>
	    </li>
	    <li id="employee-li" class="sidebar-item has-sub">
	        <a href="#" class='sidebar-link'>
	            <i class="bi bi-people-fill"></i>
	            <span>Employees</span>
	        </a>
	        <ul class="submenu">
	            <li id="add-employee-li" class="submenu-item">
	                <a href="emp">Add New</a>
	            </li>
	            <li id="list-employee-li" class="submenu-item ">
	                <a href="emp-list">List Employees</a>
	            </li>
	        </ul>
	    </li>
	    <li id="fingerprint-li" class="sidebar-item">
	        <a href="fingerprint" class='sidebar-link'>
	            <i class="bi bi-hand-index-thumb"></i>
	            <span>Fingerprint</span>
	        </a>
	    </li>
	    <li class="sidebar-item has-sub">
	        <a href="#" class='sidebar-link'>
	            <i class="bi bi-file-earmark-spreadsheet"></i>
	            <span>Daily Time Sheet</span>
	        </a>
	        <ul class="submenu">
	            <li class="submenu-item ">
	                <a href="/dts-new">Add New DTS</a>
	            </li>
	            <li class="submenu-item ">
	                <a href="#">DTS List</a>
	            </li>
	            <li class="submenu-item ">
	                <a href="#">DTS Summary</a>
	            </li>
	        </ul>
	    </li>
	    <li class="sidebar-item ">
	        <a href="admin" class='sidebar-link'>
	            <i class="bi bi-calculator"></i>
	            <span>Salary Calculation</span>
	        </a>
	    </li>
	</ul>
</div>